html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Common Background */

.bodyStyles {
    background-color: lightsteelblue;
    background-color: #F2EBE5;
    background-color: rgba(242, 235, 229, 0.2);
}

.mainStylesHolder {
    margin-top: 5%;
    background-color: beige;
    margin-left: 5px;
    margin-right: 5px;
}


/* Header */

h1 {
    font-family: 'Potta One', cursive;
    font-size: 38px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 1px;
}

.mainHeading {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    color: #FB455D;
    background-color: antiquewhite;
    background-color: #63BCD0;
    background-color: rgba(102, 188, 207, 0.3);
}


/* Desktop Screen */

@media screen and (min-width: 992px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
    }
}


/* Form Styles */

.userInputHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
    padding: 1%;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form div {
    flex: 1;
    /* margin: 1%;
    padding: 1%; */
    margin: 10px;
}


/* Desktop Screen */

@media screen and (min-width: 992px) {
    form {
        flex-direction: row;
    }
    form div {
        margin: 0px;
        padding: 0px;
        width: 200px;
    }
}


/*Form Button Styles */

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/* Output Section */

.userOutputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

.userOuputHolder {
    display: flex;
    flex-direction: column;
}

.dogImageContainer {
    flex: 1;
    margin-left: 30%;
    margin-right: 30%;
}

.dogImageContainer img {
    width: 100%;
    height: 180px;
}

.placeHolderHeader {
    margin-left: 10%;
    margin-right: 10%;
}


/* Desktop Screen */

@media screen and (min-width: 992px) {
    .userOutputWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: beige;
    }
    .userOuputHolder {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .dogImageContainer {
        flex: 0 0 300px;
        margin: 0px;
    }
    .dogImageContainer img {
        width: 280px;
        height: 300px;
    }
    .placeHolderHeader {
        margin-left: 30%;
        margin-right: 30%;
    }
}


/* Footer */

#footer {
    height: 80px;
    color: white;
    text-align: center;
    background-color: black;
    width: 100%;
}

.footStyles {
    color: whitesmoke;
}